**/.git
**/.github
**/.DS_Store
**/node_modules
**/.next
**/dist
**/.env
**/*.env
**/coverage
**/.terraform
**/*.tfstate
**/*.tfstate.*
cms-dashboard
tmp
*.md
apps/api/legacy
apps/web/.next
**/*.canvas.tsx
**/*.canvas.data.json
